{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <p><a class="connecter" href="#">Se connecter</a></p>
        <img class="logo" src="{{ asset('images/generiques/Logo.png') }}" alt="Logo Garage V.Parrot">
        <h1> GARAGE V. PARROT </h1>
        <p> Réparations fiables, voitures d'occasion exceptionnelles </p>  
    </header>

    <a href="#" class="menuBurger">Menu ☰</a>
    <nav>
        <div class="fermeture"><a href="#">X</a></div>
        <ul>
            <li><a href="#">ACCUEIL</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="">VEHICULES D'OCCASION</a></li>
            <li><a href="#">VOS TEMOIGNAGES</a></li>
        </ul>
    </nav>

    <img class="image" src="{{ asset('images/generiques/entete.png') }}" alt="Image d'un mécanicien du Garage V.Parrot">

<style>
  {#}  .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }{/#}
</style> 

    <h2> Qui sommes-nous </h2>

    <h2> Découvrez nos services </h2>
        <h3> Pneus et roues </h3>
        <h3> Disques et plaquettes </h3>
        <h3> Vidanges et entretien </h3>
        <h3> Boite de vitesse </h3>
        <h3> Echappement </h3>
        <h3> Diagnostic automobile </h3>

    <h2> Opportunité à saisir </h2>

    <h2> Vos témoignages </h2>

    {% block javascripts %} <script src="{{ asset('javascript/script.js') }}"></script> {% endblock %} 
    
{% endblock %}

{% block footer %}
    <div class="reseauxSociaux">
        <h3>Retrouvez-nous sur les réseaux</h3>
        <ul>
            <li class="logo_twitter"> 
                <a href="#" class=""><img src="{{ asset('images/generiques/logo_twitter.png') }}" alt=""></a>
            </li>
            <li class="logo_facebook">
                <a href="#"><img src="{{ asset('images/generiques/logo_facebook.png') }}" alt=""></a>
            </li>
            <li class="logo_instagram">
                <a href="#"><img src="{{ asset('images/generiques/logo_instagram.png') }}" alt=""></a>
            </li>
        </ul>
    </div>

    <div class="horaires">
        <h3>Horaires d'ouverture</h3>
    </div>

    <div class="rubriqueContact">
        <div class="contact">
            <h3>Contact</h3>
                    <a href="mailto:vparrot@garage.fr">vparrot@garage.fr</a>
                    <a href="tel:+13115552368">00 00 00 00 00</a>
        </div>
        <div class="adresse">
            <h3>Adresse</h3>
                <address>2 rue Etorre Bugatti <br>
                67201 Eckbolsheim
                </address>
        </div>        
    </div> <br>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.0531746950905!2d7.688155199999999!3d48.589680699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796b7c9d830c9b7%3A0x919606bae971312!2s2%20Rue%20Ettore%20Bugatti%2C%2067201%20Eckbolsheim!5e0!3m2!1sfr!2sfr!4v1688584598119!5m2!1sfr!2sfr" width="231.93" height="172.34" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe><br>
    
    <small>@Copyright | Garage V.Parrot. Tout droit réservé</small>
{% endblock %}
