{% extends 'base.html.twig' %}


{% block body %}

  <img class="image-principale" src="{{ asset('images/generiques/entete.png') }}" alt="Image d'un mécanicien du Garage V.Parrot">  
  
    <article class="bloc">
      <img class="image" src="{{ asset('images/generiques/quisommesnous.jpg') }}" alt="Image de présentation du garage">
      <div class="text-bloc">
          <h2> QUI SOMMES-NOUS ? </h2>
          <p> Nous sommes bien plus qu’un simple garage, nous sommes une équipe passionnée, qualifiée et dévouée à offrir un service exceptionnel.<br>
          En tant qu’entreprise établie dans le bassin toulousain depuis seulement 2 ans, nous bénéficions d’une solide réputation basée sur notre 
          expertise. Nous avons construit des relations durables avec nos clients grâce à des valeurs qui nous sont chères : transparence, honnêteté 
          et professionnalisme.<br><br>
          Vincent PARROT et toute son équipe vous souhaite la bienvenue !</p>
      </div>
    </article>

    <article class="blocservice">
      <img class="imageservice" src="{{ asset('images/generiques/nosservices.jpg') }}" alt="Les services du Garage V Parrot">
      <div class="textservice-bloc">
          <h2> DECOUVREZ NOS SERVICES </h2>
          <p> Qu'il s'agisse d'une simple vidange d'huile, d'une réparation 
          mécanique complexe ou même d'une rénovation complète, 
          nous sommes équipés pour prendre en charge toutes les 
          réparations nécessaires. Faites-nous confiance et laissez-nous 
          prendre soin de votre véhicule avec expertise 
          et professionnalisme. Tous les véhicules sont pris en charge avec soin
          par nos équipes.</p>
          <center><a class="bouton" href="{{path ('app_services')}}">TOUS NOS SERVICES</a></center>
      </div>
    </article>

    <div class="carte">
      {% for Service in Pagination %}
          <article class="carte-service">
              <img class="imageFile" src="{{ vich_uploader_asset(Service,'imageFile') }}" alt="Nos services, notre profesionnalisme">
              <div class="carte-texte">
                  <h3 class="carte-titre"> {{ Service.getTitre() }} </h3>
                  {#<p class="carte-description"> {{ Service.getDescription() }}</p>#}
              </div>
          </article>
      {% endfor %}
      {{ knp_pagination_render(Pagination) }}
    </div>

    <article class="bloc">
      <img class="image" src="{{ asset('images/generiques/occasions.jpg') }}" alt="Image des véhicules d'occasions">
      <div class="text-bloc">
          <h2> OPPORTUNITES A SAISIR </h2>
          <p> Découvrez notre sélection de véhicules d’occasion de haute 
          qualité à des prix irrésistibles ! Nous sommes fiers de vous 
          offrir une gamme variée de voiture d’occasion rigoureusement 
          inspéctées pour garantir leur fiabilité, leur performance et 
          leur sécurité. Faites confiance à notre expertise et trouvez le 
          véhicule idéal qui correspond à votre style et à votre budget. </p>
          <center><a class="bouton" href="{{path ('app_vehicules')}}">NOS VEHICULES D'OCCASION</a></center>
      </div>
    </article>

    {#  Bloc Témoignages #}

    <article class="bloctemoignages">
        <h2 class="titretemoignage"> VOS TEMOIGNAGES </h2>
            <div class="temoignage">
                {% for Temoignage in Temoignage %}
                  <div class="boite-etoiles">
                      {% for i in 1..Temoignage.note %}
                        <span class="etoile">&#9733;</span>
                      {% endfor %}
                  </div>
                  <span class="nomtemoignage"> {{ Temoignage.getNom() }} - {{ Temoignage.getJourpublication|format_date('long', locale='fr')}}</span> 
                  <span class="commentaire"> {{ Temoignage.getCommentaire() }}</span><br>
                {% endfor %}  
              </div>     
        {{ knp_pagination_render(Temoignage) }}
    </article>

    <article class="blocservice">
      <img class="imageservice" src="{{ asset('images/generiques/emailcontact.jpg') }}" alt="Les services du Garage V Parrot">
      <div class="textservice-bloc">
          <h2> UNE QUESTION ? UNE SUGGESTION ? </h2>
          <p> Vous avez une question ou une suggestion ? N'hésitez pas à remplir le formulaire et poser toutes vos questions.
          Nos équipes prendront le temps de répondre avec soin et dans les meilleurs délais !</p>
          <center><a class="bouton" href="{{path ('app_contact')}}">CONTACTER L'ATELIER</a></center>
      </div>
    </article>

{% endblock %}