{% extends 'base.html.twig' %}

{% block title %}Horaires d'ouverture{% endblock %}

{% block body %}

    <div class="horairebdd">

        {% for Horaire in Horaires %}
        <table>
             <tbody>
                <tr>
                <td><span>{{ Horaire.jour }}</span> </td>
                <td><span>{{ Horaire.getHeureOuverture|format_time('short', locale='fr') }}</span></td>
                <td><span>{{ Horaire.getHeureFermeture|format_time('short', locale='fr') }}</span></td>
                <td><span>{{ Horaire.getOuvertureSoir|format_time('short', locale='fr') }}</span></td>
                <td><span>{{ Horaire.getFermetureSoir|format_time('short', locale='fr') }}</span></td>
                </tr>
            </tbody>     
        </table>

        {% endfor %}
    
    </div>

{% endblock %}
