{% extends 'base.html.twig' %}

{% block body %}

<div class="carte-voiture">

    <div class="voiture">
        <img class="imageFile" src="{{ vich_uploader_asset(Annonce,'imageFile') }}" alt="Des occasions en or à saisir dès maintenant">
        <div class="carte-annonce">
            <h3 class="carte-titre"> {{ Annonce.getTitre() }} </h3> <br>
            <p> {{ Annonce.getInfotechniques() }} </p> <br>
            <p> {{ Annonce.getAnnee}} | {{ Annonce.getCarburant}} | {{ Annonce.getKilometrage}} km | {{ Annonce.getBoiteVitesse}}</p> <br>
            <p> {{Annonce.getDescription}} <p> <br>
            <span class="prix"> {{ Annonce.getPrix}} € </span>
        </div>
    </div>

    <div class="temoignage">
        <h2> Une question sur ce modèle ? <br> 
        {{ Annonce.getTitre() }} ? </h2>
        {{ form_start(form,{'attr': {'class': 'form-temoignage'}}) }}
            <div class="champ">
                <div class="div1">
                    {{ form_row(form.nom, {'attr': {'class': 'textinput', 'placeholder' :'Votre nom'}}) }}
                </div>
            </div>
            <div class="champ">
                <div class="div1">
                    {{ form_row(form.prenom, {'attr': {'class': 'textinput', 'placeholder' :'Votre prénom'}}) }}
                </div>
            </div>
            <div class="champ">
                <div class="div1">
                    {{ form_row(form.email, {'attr': {'class': 'textinput', 'placeholder' :'Votre Email'}}) }}
                </div>
            </div>
            <div class="champ">
                <div class="div1">
                    {{ form_row(form.telephone, {'attr': {'class': 'textinput', 'placeholder' :'Votre numéro de téléphone'}}) }}
                </div>
            </div>
            <div class="champ">
                <div class="div1">
                {{ form_row(form.message, {'attr': {'class': 'textarea', 'placeholder' :'Veuillez saisir votre message'}}) }}
                </div>
            </div>
            <button class="boutonenvoyer" type="submit">Envoyer</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}