{% extends 'base.html.twig' %}

{% block title %} Nos véhicules d'occasion{% endblock %}

{% block body %}

    <h2> Nos véhicules d'occasion </2>

    <p> Des occasions en or à saisir dès maintenant </p>

    <p> Une question sur ce modèle ? </p>

<div class="carte">
    {% for Annonce in Annonces %}
        <article class="carte-service">
            <img class="imageFile" src="{{ vich_uploader_asset(Annonce,'imageFile') }}" alt="Des occasions en or à saisir dès maintenant">
            <div class="carte-annonce">
                <h3 class="carte-titre"> {{ Annonce.getTitre() }} </h3>
                <p> {{ Annonce.getInfotechniques() }} </p>
                <p> {{ Annonce.getAnnee}} | {{ Annonce.getCarburant}} | {{ Annonce.getKilometrage}} km | {{ Annonce.getBoiteVitesse}}</p>
                <span class="prix"> {{ Annonce.getPrix}} € </span>

                <center><a class="boutondetails" href="{{path ('app_vehicules')}}">DETAILS</a></center>
            </div>
        </article>
    {% endfor %}
</div>

{% endblock %}
