{% extends 'base.html.twig' %}

{% block title %} Nos véhicules d'occasion{% endblock %}

{% block body %}

    <h2> Nos véhicules d'occasion </h2>

    <center><p> Des occasions en or à saisir dès maintenant </p></center>

<div class="filtre"> 
    <span class="filtretitre"> FILTRE DE RECHERCHE </span>
    <form class="filtrerecherche">
        <div>
        <p>Prix max :<p>
        <input type="range" id="Prix" name="Prix"  min="0" max="80000" step="1000" value="40000" />
        <label for="prix"></label>
        <output id="prixValeur"> - </output>€
        </div>
        
        <div>
        <p>Kilométrage max:</p>
        <input type="range" id="kilométrage" name="kilométrage" min="0" max="300000" step="10000" value="150000" />
        <label for="kilométrage"></label>
        <output id="kilometrageValeur"> - </output>km
        </div>

        <div>
        <p>Années max :</p>
        <input type="range" id="années" name="années" min="1990" max="2023" step="1" value="2006" />
        <label for="années"></label>
        <output id="anneeValeur"> - </output>
        </div>
    </form>
</div>

<div class="carte">
    {% for Annonce in Annonces %}
        <article class="carte-service">
            <img class="imageFile" src="{{ vich_uploader_asset(Annonce,'imageFile') }}" alt="Des occasions en or à saisir dès maintenant">
            <div class="carte-annonce">
                <h3 class="carte-titre"> {{ Annonce.getTitre() }} </h3>
                <p> {{ Annonce.getInfotechniques() }} </p>
                <p> {{ Annonce.getAnnee}} | {{ Annonce.getCarburant}} | {{ Annonce.getKilometrage}} km | {{ Annonce.getBoiteVitesse}}</p>
                <span class="prix"> {{ Annonce.getPrix}} € </span>

                <center><a class="boutondetails" href="{{ path('app_detail_vehicule', {'id': Annonce.id}) }}" target="_blank">DETAILS</a></center>
            </div>
        </article>
    {% endfor %}
</div>

{% endblock %}
