{% extends 'base.html.twig' %}

{% block title %} Nos services {% endblock %}

{% block body %}
    <h2>Ce que nous proposons</h2>
    <center><p> Découvrez nos services de réparations </p></center>

<div class="carte">
    {% for Service in Services %}
        <article class="carte-service">
            <img class="imageFile" src="{{ vich_uploader_asset(Service,'imageFile') }}" alt="Nos services, notre profesionnalisme">
            <div class="carte-texte">
                <h3 class="carte-titre"> {{ Service.getTitre() }} </h3>
                <p class="descriptiontemoignage"> {{ Service.getDescription() }}</p>
                <center><a class="bouton" href="{{path ('app_services')}}">RENDEZ-VOUS</a></center>
                <center><a class="bouton" href="{{path ('app_services')}}">DEVIS GRATUIT</a></center>
            </div>
        </article>
    {% endfor %}
</div>

{% endblock %}
